@model IEnumerable<ModelTest.Models.Theme>
@{
    ViewData["Title"] = "Chatter";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>

<a asp-action="Create">Create new theme </a>

<form asp-action="Logout" asp-controller="Account" style="float:right; margin-right:5px; margin-bottom: 5px" method="post">
    @User.Identity.Name     
    <button class="btn btn-outline-danger btn-sm" style="margin-left:5px">Logout</button>
</form>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Creator</td>
                <td>
                    <a asp-action="Index" style="float:right; margin-right: 10%;" asp-controller="Theme" asp-route-id="@item.Id">Join</a>
                </td>
            </tr>
        }
    </tbody>
</table>
