
@{
    ViewData["Title"] = "RegisterOk";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>

<div class="row d-flex justify-content-center">
    <h3>Check your email and confirm registration</h3>
</div>

